---
interface Props {
  tag: 'link' | 'button'
  href?: string
  text: string
  class?: string
  [key: string]: any
}

const { tag, href, text, class: className, ...rest } = Astro.props

const baseClasses =
  'px-4 py-3 border border-purple rounded-md shadow-sm text-purple hover:text-black hover:bg-purple transition-all duration-(--transition) ease-in-out text-center'
---

{
  tag === 'link' ? (
    <a href={href} class={`${className || ''} ${baseClasses}`} {...rest}>
      {text}
    </a>
  ) : (
    <button class={`${className || ''} ${baseClasses}`} {...rest}>
      {text}
    </button>
  )
}
