---
import { Icon } from 'astro-icon/components'
import CTA from './CTA.astro'

export interface Props {
  title: string
  description?: string
  linkText: string
  linkSrc: string
}

const { title, description, linkText, linkSrc } = Astro.props
---

<div class="grid gap-2 md:gap-4 lg:gap-40 md:grid-cols-2 mb-40 lsa lsa-slide-up no-repeat">
  <div>
    <h2 class="h2 md:mb-4">{title}</h2>

    <!-- Desktop Email -->
    <a
      href="mailto:hello@wavelandweb.com?subject=Website Inquiry from wavelandweb.com"
      aria-label="Email"
      title="Email"
      class="hidden md:inline-flex gap-2 items-center text-grey hover:text-purple"
      ><Icon name="tabler:mail" class="site-icon" />hello@wavelandweb.com
    </a>
  </div>
  <div>
    <CTA
      text={linkText}
      url={linkSrc}
      newWindow={true}
      linkClass="justify-between font-header mb-2 md:mb-4 text-4xl lg:text-5xl site-link-2"
      iconClass="w-12"
    />
    <p class="text-lightGrey">{description}</p>
  </div>

  <!-- Mobile Email -->
  <a
    href="mailto:hello@wavelandweb.com?subject=Website Inquiry from wavelandweb.com"
    aria-label="Email"
    title="Email"
    class="inline-flex md:hidden gap-2 items-center mt-2 text-grey"
    ><Icon name="tabler:mail" class="site-icon" />hello@wavelandweb.com
  </a>
</div>
