---
export interface Props {
  text: string
  size?: 'big' | 'small'
  href?: string
  class?: string
}

const { text, size = 'big', href, class: className } = Astro.props
---

{
  href ? (
    <a
      href={href}
      class:list={[
        `${className} inline-block rounded-full text-black text-base uppercase shadow-sm`,
        { 'px-4 py-2': size === 'small' },
        { 'px-6 py-4': size === 'big' },
      ]}
    >
      {text}
    </a>
  ) : (
    <span
      class:list={[
        `${className} inline-block rounded-full text-black text-base uppercase shadow-sm`,
        { 'px-4 py-2': size === 'small' },
        { 'px-6 py-4': size === 'big' },
      ]}
    >
      {text}
    </span>
  )
}
