---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import WaveOneIcon from '../../assets/wave-1.svg'
import WaveTwoIcon from '../../assets/wave-2.svg'
import WaveThreeIcon from '../../assets/wave-3.svg'

export interface Props {
  title: string
  text: string
  caseStudyUrl: string
  externalUrl: string
  linkText: string
  image: ImageMetadata
  imageAlt: string
  color: string
  isReversed?: boolean
  class?: string
}

const {
  title,
  text,
  caseStudyUrl,
  externalUrl,
  linkText,
  image,
  imageAlt,
  color,
  class: className,
  isReversed,
} = Astro.props

// Determine which icon to use based on color
let icon = 'wave-1'
if (color === 'orange') {
  icon = 'wave-2'
} else if (color === 'green') {
  icon = 'wave-3'
}
---

<div
  class:list={[
    'grid gap-8 lg:gap-16 xl:gap-32 items-center lg:grid-cols-2 lsa lsa-slide-up',
    className,
  ]}
>
  <div
    class:list={[
      'font-header',
      {
        'lg:order-2': isReversed,
      },
    ]}
  >
    <h2
      class:list={[
        {
          'text-purple': color === 'purple',
          'text-orange': color === 'orange',
          'text-green': color === 'green',
        },
      ]}
    >
      {title}
    </h2>
    <p class="h2">
      {text}
    </p>
  </div>
  <article
    class:list={[
      'text-container p-0 h-96 group',
      {
        'hover:border-purple': color === 'purple',
        'hover:border-orange': color === 'orange',
        'hover:border-green': color === 'green',
      },
    ]}
  >
    <Picture
      src={image}
      formats={['avif', 'webp', 'jpg']}
      alt={imageAlt}
      quality="low"
      widths={[240, 540, 720, image.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-36 z-10"
    />
    {
      color === 'purple' ? (
        <WaveOneIcon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-72 text-darkGrey group-hover:text-purple transition-colors duration-(--transition)" />
      ) : color === 'orange' ? (
        <WaveTwoIcon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-72 text-darkGrey group-hover:text-orange transition-colors duration-(--transition)" />
      ) : (
        <WaveThreeIcon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-72 text-darkGrey group-hover:text-green transition-colors duration-(--transition)" />
      )
    }

    <div
      class="absolute bottom-0 w-full h-full md:h-auto flex flex-col md:flex-row justify-between p-4"
    >
      <a
        href={caseStudyUrl}
        class:list={[
          'text-base',
          {
            'hover:text-purple': color === 'purple',
            'hover:text-orange': color === 'orange',
            'hover:text-green': color === 'green',
          },
        ]}>Case Study</a
      >
      <a
        href={externalUrl}
        target="_blank"
        rel="noopener noreferrer"
        class:list={[
          'text-base',
          {
            'hover:text-purple': color === 'purple',
            'hover:text-orange': color === 'orange',
            'hover:text-green': color === 'green',
          },
        ]}><Icon name="tabler:link" class="inline mr-2" />{linkText}</a
      >
    </div>
  </article>
</div>
