---
import { Image } from 'astro:assets'
import LinkIcon from '../../assets/link.svg'
import WaveOneIcon from '../../assets/wave-1.svg'
import WaveTwoIcon from '../../assets/wave-2.svg'
import WaveThreeIcon from '../../assets/wave-3.svg'

export interface Props {
  title: string
  text: string
  caseStudyUrl: string
  linkText: string
  image: ImageMetadata
  imageAlt: string
  color: string
  isReversed?: boolean
  class?: string
}

const {
  title,
  text,
  caseStudyUrl,
  linkText,
  image,
  imageAlt,
  color,
  class: className,
  isReversed,
} = Astro.props

// Determine which icon to use based on color
let icon = 'wave-1'
if (color === 'orange') {
  icon = 'wave-2'
} else if (color === 'green') {
  icon = 'wave-3'
}
---

<div
  class:list={[
    'grid gap-6 md:gap-8 lg:gap-16 items-center lg:grid-cols-2 lsa lsa-slide-up',
    className,
  ]}
>
  <div
    class:list={[
      'font-header',
      {
        'lg:order-2': isReversed,
      },
    ]}
  >
    <h2
      class:list={[
        {
          'text-purple': color === 'purple',
          'text-orange': color === 'orange',
          'text-green': color === 'green',
        },
      ]}
    >
      {title}
    </h2>
    <p class="h2">
      {text}
    </p>
  </div>
  <article
    id="case-study-card"
    class:list={[
      'text-container p-0 h-96 group',
      {
        'hover:border-purple max-md:border-purple': color === 'purple',
        'hover:border-orange max-md:border-orange': color === 'orange',
        'hover:border-green max-md:border-green': color === 'green',
      },
    ]}
  >
    <a href={caseStudyUrl} class="w-full h-full">
      <Image
        src={image}
        alt={imageAlt}
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-36 z-10"
      />
      {
        color === 'purple' ? (
          <WaveOneIcon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-72 text-darkGrey group-hover:text-purple max-md:text-purple transition-colors duration-(--transition)" />
        ) : color === 'orange' ? (
          <WaveTwoIcon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-72 text-darkGrey group-hover:text-orange max-md:text-orange transition-colors duration-(--transition)" />
        ) : (
          <WaveThreeIcon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-72 text-darkGrey group-hover:text-green max-md:text-green transition-colors duration-(--transition)" />
        )
      }
      <p
        class:list={[
          'flex items-center font-header text-sm md:text-base gap-2 absolute bottom-0 p-4',
          {
            'hover:text-purple group-hover:text-purple max-md:text-purple transition-colors duration-(--transition)':
              color === 'purple',
            'hover:text-orange group-hover:text-orange max-md:text-orange transition-colors duration-(--transition)':
              color === 'orange',
            'hover:text-green group-hover:text-green max-md:text-green transition-colors duration-(--transition)':
              color === 'green',
          },
        ]}
      >
        <LinkIcon class="size-5 md:size-6 stroke-2" />{linkText}
      </p>
    </a>
  </article>
</div>
