---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import Card from './Card.astro'

export interface Props {
  title: string
  text: string
  link: string
  image: ImageMetadata
  imageAlt: string
  variant?: 1 | 2 | 3
  isReversed?: boolean
  class?: string
}

const { title, text, link, image, imageAlt, variant, class: className, isReversed } = Astro.props

// Format link text (remove www., http://, https://, trailing /, etc.)
const linkText = link
  .replace(/(^\w+:|^)\/\//, '')
  .replace(/\/$/, '')
  .replace('www.', '')

// Determine which icon to use
let icon = ''
switch (variant) {
  case 1:
    icon = 'wave-1'
    break
  case 2:
    icon = 'wave-2'
    break
  case 3:
    icon = 'wave-3'
    break
  default:
    icon = 'wave-1'
    break
}

// Determine theme styles
const themeStyles = {
  text: {
    'text-darkPurple dark:text-purple': variant === 1,
    'text-darkOrange dark:text-orange': variant === 2,
    'text-darkGreen dark:text-green': variant === 3,
  },
  bg: {
    'bg-purple': variant === 1,
    'bg-orange': variant === 2,
    'bg-green': variant === 3,
  },
  link: {
    'left-4 text-darkBlue': variant === 1 || variant === 3,
    'right-4 text-darkBlue': variant === 2,
  },
}
---

<div
  class:list={[
    'grid gap-8 place-items-center lg:grid-cols-2 lg:gap-16 lsa lsa-slide-up no-repeat',
    className,
  ]}
>
  <div
    class:list={[
      'font-body h2',
      {
        'lg:order-2': isReversed,
      },
    ]}
  >
    <h2 class:list={['inline leading-normal', themeStyles.text]}>{title}</h2>
    <p class="inline leading-normal font-normal">
      {text}
    </p>
  </div>
  <Card class={themeStyles.bg}>
    <Picture
      src={image}
      formats={['avif', 'webp', 'jpg']}
      alt={imageAlt}
      class="absolute-center w-full max-w-36 z-10 drop-shadow-lg"
    />
    <Icon name={icon} class="absolute-center h-4/5" />
    <a
      href={link}
      class:list={['absolute bottom-4 text-darkBlue', themeStyles.link]}
      target="_blank"
      rel="noopener noreferrer"
      ><Icon name="tabler:link" class="inline mr-2 site-icon" />{linkText}</a
    >
  </Card>
</div>
