---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import RecentPostsContainer from '../components/blog/RecentPostsContainer.astro'
import Layout from '../layouts/Layout.astro'

const allPosts = await getCollection('blog')

const sortedPosts = allPosts.sort((a, b) => +b.data.id - +a.data.id)
const newestPost = sortedPosts.at(0)
const recentPosts = sortedPosts.slice(1, allPosts.length)

function createEllipsisText(text: string, maxLength: number) {
  const subText = text.substring(0, maxLength)
  const lastChar = subText[maxLength - 1]
  return lastChar !== ' ' ? `${subText}...` : `${subText.substring(0, maxLength - 1)}...`
}

const truncatedDescriptionText = createEllipsisText(newestPost!.data.description, 100)
---

<Layout title="Wave Land Web | Blog">
  <header
    class="flex flex-col gap-4 max-w-3xl justify-center pt-[calc(2rem+var(--nav-height))] pb-8 text-center"
  >
    <h1 class="text-purple text-lg">Blog</h1>
    <p class="text-7xl font-body">We've Been Thinking</p>
    <p class="text-lg">
      Musings on web development and the broader creative landscape. Follow along for news on our
      latest projects, insights, and more.
    </p>
  </header>

  <main>
    <section id="blog-container" class="max-w-6xl m-auto">
      <article class="relative flex flex-col gap-4 mb-12">
        <a href={`/blog/${newestPost?.slug}`} class="shadow-sm rounded-b-lg">
          <Picture
            src={newestPost!.data.image}
            class="rounded-lg"
            formats={['avif', 'webp']}
            alt={newestPost!.data.imageAlt}
            loading="eager"
          />
        </a>
        <div
          class="w-full flex flex-col gap-2 rounded-b-lg md:absolute md:bottom-0 md:left-0 md:p-4 md:bg-scrim md:bg-opacity-60 md:backdrop-blur-sm"
        >
          <p class="text-grey">{newestPost?.data.published}</p>
          <h2 class="text-2xl">
            <a href={`/blog/${newestPost?.slug}`} class="site-link">{newestPost?.data.title}</a>
          </h2>
          <p class="text-grey">{truncatedDescriptionText}</p>
        </div>
      </article>
      <RecentPostsContainer posts={recentPosts} />
    </section>
  </main>
</Layout>
