---
import { Icon } from 'astro-icon/components'
import bornYesterdayBakeryImage from '../assets/born-yesterday-bakery.png'
import robbyWebbImage from '../assets/robby-webb.png'
import supervoidImage from '../assets/supervoid.png'
import CTA from '../components/text/CTA.astro'
import Pill from '../components/text/Pill.astro'
import TextAndImage from '../components/text/TextAndImage.astro'
import TitleLogo from '../components/text/TitleLogo.astro'
import Card from '../components/ui/Card.astro'
import Testimonials from '../components/ui/Testimonials.astro'
import Layout from '../layouts/Layout.astro'

const testimonialData = [
  {
    quote:
      "We reached out to Wave Land to help us develop a custom website that couldn't be made with even the most advanced templates. Their ability to guide us towards achieving our vision with both creative and technical expertise made creating our site a breeze. We had a very unique vision for the site that wasn't something we'd seen done before, and Wave Land made it look easy.",
    href: 'https://supervoid.tv',
    citation: 'Drew Mercadante, Supervoid',
  },
  {
    quote:
      'Josh had incredible insight through the whole process. It helps when the person who is building your site understands music and what you want to portray.',
    href: 'https://robbywebb.com',
    citation: 'Robby Webb, Musician',
  },
  {
    quote:
      "I loved thinking and collaborating with Josh at Wave Land. He got me excited about my website, which not only affected how I branded myself for my online presence, but also influenced some of the ideas in my own research. Our work together connected so deeply to how I understand what I do, communicate it to others, and how I fundamentally do this work daily. I can't thank Josh and Wave Land enough!",
    href: 'https://laurenvogelstein.com',
    citation: 'Lauren Vogelstein, PhD',
  },
]
---

<Layout
  title="Wave Land Web | Creative Web Design & Development"
  description="Helping creatives build meaningful connections with high-performance, modern websites"
>
  <header
    class="custom-height-mq:h-full h-[calc(100vh-3rem)] max-h-[1200px] pt-[var(--nav-height)] flex flex-col justify-between gap-12"
  >
    <div>
      <TitleLogo class="mb-6 lsa lsa-slide-left no-repeat" />
      <div class="flex flex-wrap gap-4">
        <Pill text="Digital Strategy" textColor="text-darkBlue" class="lsa delay-100 no-repeat" />
        <Pill
          text="Web Design & Development"
          backgroundColor="bg-orange"
          textColor="text-darkBlue"
          class="lsa delay-200 no-repeat"
        />
        <Pill
          text="Education & Community Support"
          backgroundColor="bg-green"
          textColor="text-darkBlue"
          class="lsa delay-300 no-repeat"
        />
      </div>
    </div>
    <div class="max-w-[575px]">
      <p class="mb-6 lsa delay-500 no-repeat">
        Helping creatives build meaningful connections with high-performance, modern websites
      </p>
      <a
        href="https://calendly.com/wavelandweb/15-min-meeting?month=2024-05"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex gap-2 items-center site-link-2 lsa delay-700 no-repeat"
        >Free Intro Call <Icon name="tabler:arrow-narrow-right" class="site-icon" /></a
      >
    </div>
  </header>

  <main>
    <section id="about">
      <TextAndImage
        title="Carve a unique path."
        text="Your website should embody your creativity and enable more freedom to focus on the work you love."
        link="https://supervoid.tv"
        image={supervoidImage}
        imageAlt="Supervoid website on a mobile device"
        variant={1}
        class="py-16 md:py-24"
      />
      <TextAndImage
        title="Feed your imagination."
        text="Spend more time on what matters most and less on energetically draining technical tasks."
        link="https://bornyesterdaybakery.com"
        image={bornYesterdayBakeryImage}
        imageAlt="Born Yesterday Bakery website on a mobile device"
        variant={2}
        isReversed={true}
        class="py-16 md:py-24"
      />
      <TextAndImage
        title="Amplify your voice."
        text="Bespoke web experiences that enhance your brand, prioritize user experience, and inspire action."
        link="https://www.robbywebb.com/"
        image={robbyWebbImage}
        imageAlt="Robby Webb website on a mobile device"
        variant={3}
        class="py-16 md:py-24"
      />
    </section>

    <section id="services">
      <h2 class="mb-8 lsa no-repeat">Our Services</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-8 text-darkBlue">
        <Card
          class="p-8 md:row-span-2 flex flex-col justify-end gap-4 bg-purple lsa lsa-slide-up no-repeat"
        >
          <span>01</span>
          <h3>Digital Strategy</h3>
          <p class="text-base">
            We help you define clear, actionable goals for your online presence, ensuring every
            decision supports your vision and drives results.
          </p>
        </Card>

        <Card
          class="p-8 flex flex-col justify-end gap-4 bg-orange lsa lsa-slide-up delay-100 no-repeat"
        >
          <span>02</span>
          <h3>Web Design & Development</h3>
          <p class="text-base">
            Our custom websites combine striking design with cutting-edge technology, delivering
            accessible, user-friendly experiences that build trust and boost conversions.
          </p>
        </Card>

        <Card
          class="p-8 flex flex-col justify-end gap-4 bg-green lsa lsa-slide-up delay-200 no-repeat"
        >
          <span>03</span>
          <h3>Education & Community Support</h3>
          <p class="text-base">
            We support our fellow creatives and web professionals with tips and guidance for
            building outstanding websites and products that delight clients, captivate audiences,
            and serve users seamlessly.
          </p>
        </Card>
      </div>
    </section>

    <section
      id="testimonials"
      class="max-w-screen-md m-auto text-center lsa lsa-slide-up no-repeat"
    >
      <h2 class="mb-8">Testimonials</h2>
      <Testimonials data={testimonialData} />
    </section>

    <section id="get-started">
      <CTA
        title="Get Started"
        description="Ready for the next step? Schedule a complimentary strategy session or send us an email to discuss your project."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting"
      />
    </section>
  </main>
</Layout>
