---
import powerPassengerPassageImage from '../assets/power-passenger-passage.png'
import robbyWebbImage from '../assets/robby-webb.png'
import supervoidImage from '../assets/supervoid.png'
import CTA from '../components/text/CTA.astro'
import IntroCallCTA from '../components/text/IntroCallCTA.astro'
import Pill from '../components/text/Pill.astro'
import TextAndImage from '../components/text/TextAndImage.astro'
import TitleLogo from '../components/text/TitleLogo.astro'
import Card from '../components/ui/Card.astro'
import Testimonials from '../components/ui/Testimonials.astro'
import Layout from '../layouts/Layout.astro'

const testimonialData = [
  {
    quote:
      "We reached out to Wave Land to help us develop a custom website that couldn't be made with even the most advanced templates. Their ability to guide us toward achieving our vision with both creative and technical expertise made creating our site a breeze. We had a very unique vision for the site that wasn't something we'd seen done before, and Wave Land made it look easy.",
    href: 'https://supervoid.tv',
    citation: 'Drew Mercadante, Supervoid',
  },
  {
    quote:
      'Josh had incredible insight through the whole process. It helps when the person who is building your site understands music and what you want to portray.',
    href: 'https://robbywebb.com',
    citation: 'Robby Webb, Musician',
  },
  {
    quote:
      "I loved thinking and collaborating with Josh at Wave Land. He got me excited about my website, which not only affected how I branded myself for my online presence, but also influenced some of the ideas in my own research. Our work together connected so deeply to how I understand what I do, communicate it to others, and how I fundamentally do this work daily. I can't thank Josh and Wave Land enough!",
    href: 'https://laurenvogelstein.com',
    citation: 'Lauren Vogelstein, PhD',
  },
]
---

<Layout
  title="Wave Land Web | Creative Web Design & Development"
  description="Helping creatives build meaningful connections with high-performance, modern websites"
>
  <header
    class="custom-height-mq:h-full h-[calc(100dvh-3rem)] max-h-[1200px] pt-[var(--nav-height)] flex flex-col justify-between gap-12"
  >
    <div>
      <TitleLogo class="mb-6 lsa lsa-slide-left no-repeat" />
      <div class="flex flex-wrap gap-4">
        <Pill
          text="Web Design & Development"
          href="#services"
          class="bg-purple lsa delay-100 no-repeat"
        />
        <Pill text="Digital Strategy" href="#services" class="bg-orange lsa delay-200 no-repeat" />
        <Pill text="UX/UI" href="#services" class="bg-green lsa delay-300 no-repeat" />
      </div>
    </div>
    <div class="max-w-[575px]">
      <p class="mb-6 lsa delay-500 no-repeat">
        Helping creatives build meaningful connections with high-performance, modern websites
      </p>

      <div class="lsa delay-700 no-repeat">
        <CTA
          text="Free Intro Call"
          url="https://calendly.com/wavelandweb/15-min-meeting?month=2024-05"
          newWindow={true}
        />
      </div>
    </div>
  </header>

  <main>
    <section id="about">
      <TextAndImage
        title="Carve a unique path."
        text="Your website should embody your creativity and enable more freedom to focus on the work you love."
        url="/case-studies/supervoid"
        linkText="supervoid"
        image={supervoidImage}
        imageAlt="Supervoid website on a mobile device"
        variant={1}
        class="py-16 md:py-24"
      />
      <TextAndImage
        title="Feed your imagination."
        text="Spend more time on what matters most and less on energetically draining technical tasks."
        url="/case-studies/power-passenger-passage"
        linkText="power passenger passage"
        image={powerPassengerPassageImage}
        imageAlt="Power Passenger Passage website on a mobile device"
        variant={2}
        isReversed={true}
        class="py-16 md:py-24"
      />
      <TextAndImage
        title="Amplify your voice."
        text="Bespoke web experiences that enhance your brand, prioritize user experience, and inspire action."
        url="/case-studies/robby-webb"
        linkText="robby webb"
        image={robbyWebbImage}
        imageAlt="Robby Webb website on a mobile device"
        variant={3}
        class="py-16 md:py-24"
      />

      <div class="lsa lsa-slide-up no-repeat">
        <CTA
          text="View Case Studies"
          url="/case-studies"
          linkClass="font-header text-4xl lg:text-5xl site-link-2"
          iconClass="w-12"
        />
      </div>
    </section>

    <section id="services">
      <h2 class="mb-8 lsa no-repeat">Our Services</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-8 text-darkBlue">
        <Card
          class="p-8 md:row-span-2 flex flex-col justify-end gap-4 bg-purple lsa lsa-slide-up no-repeat"
        >
          <span>01</span>
          <h3>Web Design & Development</h3>
          <p class="text-base">
            Our custom websites combine striking design with cutting-edge technology, delivering
            accessible, user-friendly experiences that build trust and boost conversions.
          </p>
        </Card>

        <Card
          class="p-8 flex flex-col justify-end gap-4 bg-orange lsa lsa-slide-up delay-100 no-repeat"
        >
          <span>02</span>
          <h3>Digital Strategy</h3>
          <p class="text-base">
            We help you define clear, actionable goals for your online presence, ensuring every
            decision supports your vision and drives results.
          </p>
        </Card>

        <Card
          class="p-8 flex flex-col justify-end gap-4 bg-green lsa lsa-slide-up delay-200 no-repeat"
        >
          <span>03</span>
          <h3>UX/UI</h3>
          <p class="text-base">
            Transform your website into a powerful tool for generating leads, increasing traffic,
            and achieving measurable results with thoughtfully designed digital experiences that are
            a joy to use.
          </p>
        </Card>
      </div>
    </section>

    <section
      id="testimonials"
      class="max-w-screen-md m-auto text-center lsa lsa-slide-up no-repeat"
    >
      <h2 class="mb-8">Testimonials</h2>
      <Testimonials data={testimonialData} />
    </section>

    <section id="get-started">
      <IntroCallCTA
        title="Get Started"
        description="Ready for the next step? Schedule a complimentary strategy session or send us an email to discuss your project."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting"
      />
    </section>
  </main>
</Layout>
