---
import { Picture } from 'astro:assets'

export interface Props {
  slug: string
  title: string
  published: string
  image: ImageMetadata
  imageAlt: string
}

const { slug, title, published, image, imageAlt } = Astro.props
---

<article class="aos-fade">
  <a href={slug} class="block h-52 mb-4 overflow-hidden rounded-lg shadow-sm" data-astro-prefetch>
    <Picture
      src={image}
      formats={['avif', 'webp']}
      alt={imageAlt}
      class="w-full h-full mb-4 object-cover rounded-lg site-transition-normal md:hover:scale-[1.01]"
    />
  </a>
  <div>
    <p class="mb-2 text-grey text-sm">{published}</p>
    <h2 class="text-lg">
      <a href={slug} class="site-link" data-astro-prefetch>{title}</a>
    </h2>
  </div>
</article>
