---
import { createEllipsisText, createSlug, removeSpecialCharactersFromSlug } from '../../lib/text'

export interface Props {
  slug: string
  title: string
  published: string
  description: string
  tags: string[]
}

const { slug, title, published, description, tags } = Astro.props
const truncatedDescriptionText = createEllipsisText(description, 100)
---

<article class="flex flex-col gap-4 lsa lsa-slide-up no-repeat">
  <!-- Info -->
  <p class="mb-2 text-grey text-sm">{published}</p>
  <h3>
    <a href={slug} class="site-link no-underline">{title}</a>
  </h3>
  <p class="text-grey">{truncatedDescriptionText}</p>

  <!-- Tags -->
  <div class="pb-4 border-b-[1px] border-dashed border-grey">
    {
      tags.map((tag) => (
        <a href={`/blog/tags/${createSlug(tag)}`} class="site-link-2">
          #{removeSpecialCharactersFromSlug(tag)}
        </a>
      ))
    }
  </div>
</article>
