---
import { Picture } from 'astro:assets'

export interface Props {
  slug: string
  title: string
  published: string
  image: ImageMetadata
  imageAlt: string
}

const { slug, title, published, image, imageAlt } = Astro.props
---

<article class="flex flex-col items-start gap-4">
  <a href={slug} class="w-full overflow-hidden rounded-lg shadow-sm">
    <Picture
      src={image}
      formats={['avif', 'webp']}
      alt={imageAlt}
      class="h-52 object-cover transition hover:scale-[1.01]"
    />
  </a>
  <div>
    <p class="mb-2 text-grey text-sm">{published}</p>
    <h2 class="text-xl"><a href={slug} class="site-link">{title}</a></h2>
  </div>
</article>
