---
import type { CollectionEntry } from 'astro:content'
import BlogCard from './BlogCard.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div
  class="grid gap-[clamp(2rem,5vw,3rem)] md:grid-cols-2 lg:grid-cols-3 pt-12 border-t-[1px] border-grey"
>
  {
    posts.map((post) => (
      <BlogCard
        title={post.data.title}
        published={post.data.published}
        slug={`/blog/${post.slug}`}
        image={post.data.image}
        imageAlt={post.data.imageAlt}
      />
    ))
  }
</div>
