---
import type { SanityDocument } from '@sanity/client'
import PostsContainer from '../../../components/ui/PostsContainer.astro'
import TagContainer from '../../../components/ui/TagContainer.astro'
import Layout from '../../../layouts/Layout.astro'
import { loadQuery } from '../../../sanity/lib/load-query'

export async function getStaticPaths() {
  const { data: allTags } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "tag"]`,
  })

  return allTags.map((tag) => {
    return {
      params: {
        slug: tag.slug.current,
      },
      props: {
        allTags,
      },
    }
  })
}

const { params, props } = Astro

// Load the posts with the given tag
const { data: postsWithGivenTag } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post" && "${params.slug.toLowerCase().replace(/-/g, ' ')}" in tag[]->title]`,
})

// Find the tag with the given slug
const currentTag = props.allTags.find((tag) => tag.slug.current === params.slug)
---

<Layout
  title={`Wave Land Web | ${currentTag?.title}`}
  description={`Wave Land Web blog posts tagged with "${currentTag?.title}"`}
>
  <header
    class="max-w-screen-3xl grid lg:grid-cols-2 gap-16 lg:gap-40 items-center pt-[calc(4rem+var(--nav-height))] pb-16 md:pb-24 lsa no-repeat"
  >
    <div class="max-w-lg lg:max-w-none flex flex-col gap-2 lg:gap-4">
      <p class="font-header text-purple text-base lg:text-lg leading-none">Tag</p>
      <h1 class="mb-12 text-5xl leading-tight lg:text-6xl lg:leading-tight">
        {currentTag?.title.toUpperCase()}
      </h1>
      <PostsContainer posts={postsWithGivenTag} />
    </div>
    <TagContainer tags={props.allTags} />
  </header>
</Layout>
