---
import type { SanityDocument } from '@sanity/client'
import CTA from '../../components/text/CTA'
import IntroCallCTA from '../../components/text/IntroCallCTA.astro'
import PortableText from '../../components/text/PortableText.astro'
import CaseStudyHeader from '../../components/ui/CaseStudyHeader.astro'
import PostTableOfContents from '../../components/ui/PostTableOfContents.astro'
import Layout from '../../layouts/Layout.astro'
import { loadQuery } from '../../sanity/lib/load-query'
import { urlForImage } from '../../sanity/lib/urlForImage'

export async function getStaticPaths() {
  const { data: allCaseStudies } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "case-study"] | order(publishedAt asc)`,
  })

  return allCaseStudies.map((caseStudy) => {
    return {
      params: {
        slug: caseStudy.slug.current,
      },
    }
  })
}

// Get page data and props
const { params } = Astro

// Load the current post
const { data: currentCaseStudy } = await loadQuery<SanityDocument>({
  query: `*[_type == "case-study" && slug.current == $slug][0] {
    title,
    slug,
    mainImage,
    publishedAt,
    description,
    services,
    body,
    liveUrl,
    "estimatedReadingTime": round(length(pt::text(body)) / 5 / 180 )
  }`,
  params,
})

// Generate OG image URL for the case study
const imageUrl = urlForImage(currentCaseStudy.mainImage).format('jpg').url()
---

<Layout
  title={`Wave Land Web | ${currentCaseStudy.title}`}
  description={currentCaseStudy.description}
  socialImage={imageUrl}
>
  <CaseStudyHeader
    title={currentCaseStudy.title}
    published={currentCaseStudy.publishedAt}
    minutesRead={currentCaseStudy.estimatedReadingTime}
    image={currentCaseStudy.mainImage}
    imageAlt={currentCaseStudy.mainImage.alt}
    services={currentCaseStudy.services}
    liveUrl={currentCaseStudy.liveUrl}
  />

  <main>
    <div
      class="container lg:max-w-6xl mx-auto pt-8 md:pt-16 grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-8 md:gap-16"
    >
      <PostTableOfContents post={currentCaseStudy} />
      <section id="case-study" class="py-0">
        <div id="case-study-content" class="flex flex-col gap-[1lh]">
          <PortableText portableText={currentCaseStudy.body} />
          <CTA tag="link" text="View All Case Studies" href="/case-studies" className="w-fit" />
        </div>
      </section>
      <div class="hidden md:block"></div>
    </div>
    <section id="get-started">
      <IntroCallCTA
        title="Get Started"
        description="Ready for the next step? Schedule a complimentary strategy session or send us an email to discuss your project."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting"
      />
    </section>
  </main>
</Layout>
