---
import type { SanityDocument } from '@sanity/client'
import IntroCallCTA from '../../components/text/IntroCallCTA.astro'
import Link from '../../components/text/Link'
import PortableText from '../../components/text/PortableText.astro'
import CaseStudyHeader from '../../components/ui/CaseStudyHeader.astro'
import Layout from '../../layouts/Layout.astro'
import { loadQuery } from '../../sanity/lib/load-query'
import { urlForImage } from '../../sanity/lib/urlForImage'

export async function getStaticPaths() {
  const { data: allCaseStudies } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "case-study"] | order(publishedAt asc)`,
  })

  return allCaseStudies.map((caseStudy) => {
    return {
      params: {
        slug: caseStudy.slug.current,
      },
    }
  })
}

// Get page data and props
const { params } = Astro

// Load the current post
const { data: currentCaseStudy } = await loadQuery<SanityDocument>({
  query: `*[_type == "case-study" && slug.current == $slug][0] {
    title,
    slug,
    mainImage,
    publishedAt,
    description,
    services,
    body,
    "estimatedReadingTime": round(length(pt::text(body)) / 5 / 180 )
  }`,
  params,
})

// Generate OG image URL for the case study
const imageUrl = urlForImage(currentCaseStudy.mainImage).format('jpg').url()

// Retrieve + format heading data for anchor links and table of contents
const headings: { id: string; text: string }[] = currentCaseStudy.body
  .filter((block: SanityDocument) => block.style === 'h2')
  .map((heading: SanityDocument) => {
    return {
      id: heading.children[0].text.replace(/\s+/g, '-').toLowerCase(),
      text: heading.children[0].text,
    }
  })
---

<Layout
  title={`Wave Land Web | ${currentCaseStudy.title}`}
  description={currentCaseStudy.description}
  socialImage={imageUrl}
>
  <CaseStudyHeader
    title={currentCaseStudy.title}
    published={currentCaseStudy.publishedAt}
    minutesRead={currentCaseStudy.estimatedReadingTime}
    image={currentCaseStudy.mainImage}
    imageAlt={currentCaseStudy.mainImage.alt}
    services={currentCaseStudy.services}
  />

  <main>
    <div class="container md:max-w-4xl mx-auto">
      <nav
        id="case-study-table-of-contents"
        aria-label="Case Study Table of Contents"
        class="w-full px-0 py-16 md:self-start"
      >
        <h2 class="mb-4 text-purple text-lg md:text-xl">Table of Contents:</h2>
        <ol class="list-none p-0">
          {
            headings.map((heading: { id: string; text: string }) => (
              <li class="font-header group" data-section-id={heading.id}>
                <a href={`#${heading.id}`} class="inline-flex items-center">
                  <span class="inline-block mr-4 h-[2px] w-8 bg-grey group-hover:w-16 group-hover:h-1 group-hover:bg-green group-focus-visible:w-16 group-focus-visible:h-1 group-focus-visible:bg-green group-[.active]:w-16 group-[.active]:h-1 group-[.active]:bg-green rounded transition-all duration-[var(--transition)] ease-in-out" />
                  <span class="text-base md:text-lg text-grey group-hover:text-green group-focus-visible:text-green group-[.active]:text-green transition-all duration-(--transition) ease-in-out">
                    {heading.text}
                  </span>
                </a>
              </li>
            ))
          }
        </ol>
      </nav>
      <section id="case-study" class="pt-0">
        <div id="case-study-content" class="flex flex-col gap-[1lh]">
          <PortableText portableText={currentCaseStudy.body} />
          <Link text="View All Case Studies" url="/case-studies" arrowLeft={true} />
        </div>
      </section>
    </div>
    <section id="get-started">
      <IntroCallCTA
        title="Get Started"
        description="Ready for the next step? Schedule a complimentary strategy session or send us an email to discuss your project."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting"
      />
    </section>
  </main>
</Layout>
