---
import type { SanityDocument } from '@sanity/client'
import { Icon } from 'astro-icon/components'
import CTA from '../../components/text/CTA.astro'
import Pill from '../../components/text/Pill.astro'
import PortableText from '../../components/text/PortableText.astro'
import SanityImage from '../../components/ui/SanityImage.astro'
import Layout from '../../layouts/Layout.astro'
import { loadQuery } from '../../sanity/lib/load-query'

export async function getStaticPaths() {
  const { data: allCaseStudies } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "case-study"] | order(publishedAt asc)`,
  })

  return allCaseStudies.map((caseStudy) => {
    return {
      params: {
        slug: caseStudy.slug.current,
      },
    }
  })
}

// Get page data and props
const { params } = Astro

// Load the current post
const { data: currentCaseStudy } = await loadQuery<SanityDocument>({
  query: `*[_type == "case-study" && slug.current == $slug][0] {
    title,
    slug,
    mainImage,
    publishedAt,
    description,
    services,
    body
  }`,
  params,
})

// Retrieve + format heading data for anchor links and table of contents
const headings: { id: string; text: string }[] = currentCaseStudy.body
  .filter((block: SanityDocument) => block.style === 'h2')
  .map((heading: SanityDocument) => {
    return {
      id: heading.children[0].text.replace(/\s+/g, '-').toLowerCase(),
      text: heading.children[0].text,
    }
  })
---

<Layout
  title={`Wave Land Web | ${currentCaseStudy.title}`}
  description={currentCaseStudy.description}
>
  <header
    class="max-w-screen-3xl grid lg:grid-cols-2 gap-16 lg:gap-40 items-center pt-[calc(3rem+var(--nav-height))] pb-16 md:pb-24 border-b-[1px] border-dashed border-grey"
  >
    <div class="flex flex-col gap-2 lg:gap-4">
      <p
        class="font-header text-purple text-base lg:text-lg leading-none lsa lsa-slide-left no-repeat"
      >
        Case Study
      </p>
      <h1
        class="text-6xl leading-tight md:text-7xl lg:text-8xl lg:leading-tight lsa lsa-slide-left delay-100 no-repeat"
      >
        {currentCaseStudy.title}
      </h1>
      <div class="flex flex-wrap gap-2">
        {
          currentCaseStudy.services.map((service: string) => (
            <Pill
              text={`${service}`}
              size="small"
              class:list={[
                { 'bg-purple delay-200': service === 'Web Design & Development' },
                { 'bg-orange delay-300': service === 'Digital Strategy' },
                { 'bg-green delay-500': service === 'UX/UI' },
                ['lsa lsa-slide-left no-repeat'],
              ]}
            />
          ))
        }
      </div>
    </div>

    <SanityImage
      image={currentCaseStudy.mainImage}
      alt={currentCaseStudy.mainImage.alt}
      class="lsa lsa-slide-right no-repeat"
    />
  </header>

  <main class="max-w-screen-3xl flex flex-col gap-[1lh]">
    <section id="case-study" class="lg:flex w-full">
      <nav
        aria-label="Case Study Menu"
        class="lg:w-1/2 p-0 hidden lg:block lg:sticky lg:top-[var(--nav-height)] lg:self-start"
      >
        <ul>
          {
            headings.map((heading: { id: string; text: string }) => (
              <li class="font-header">
                <a href={`#${heading.id}`} class="group flex items-center">
                  <span class="inline-block mr-4 h-[2px] w-8 bg-grey group-hover:w-16 group-hover:h-1 group-hover:bg-green group-focus-visible:w-16 group-focus-visible:h-1 group-focus-visible:bg-green rounded transition-all duration-200 ease-in-out" />
                  <span class="text-grey group-hover:text-green group-focus-visible:text-green transition-all duration-200 ease-in-out">
                    {heading.text}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="flex flex-col gap-[1lh] lg:w-1/2">
        <PortableText portableText={currentCaseStudy.body} />
        <a
          class="site-link-2 inline-flex items-center justify-center gap-2 w-fit"
          href="/case-studies"
          ><Icon name="tabler:arrow-narrow-left" class="site-icon" />View All Case Studies</a
        >
      </div>
    </section>

    <section id="get-started">
      <CTA
        title="Get Started"
        description="Ready for the next step? Schedule a complimentary strategy session or send us an email to discuss your project."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting"
      />
    </section>
  </main>
</Layout>
