---
import type { SanityDocument } from '@sanity/client'
import { createEllipsisText } from '../../lib/text'
import DateAndReadTime from '../text/DateAndReadTime.astro'

export interface Props {
  post: SanityDocument
}

const { post } = Astro.props

// Create ellipsis text for description
const truncatedDescriptionText = createEllipsisText(post.description, 100)
---

<article
  class="flex flex-col gap-4 pb-4 border-b-[1px] border-dashed border-grey lsa lsa-slide-up no-repeat"
>
  <!-- Info -->
  <DateAndReadTime
    class="justify-start"
    published={post.publishedAt}
    minutesRead={post.estimatedReadingTime}
  />
  <h3>
    <a href={`/blog/${post.slug.current}`} class="site-link text-3xl md:text-4xl no-underline"
      >{post.title}</a
    >
  </h3>
  <p class="text-base text-grey">{truncatedDescriptionText}</p>
</article>
