---
import type { SanityDocument } from '@sanity/client'
import { createEllipsisText } from '../../lib/text'
import Link from '../text/Link.tsx'
import Pill from '../text/Pill.astro'
import SanityImage from './SanityImage.astro'

export interface Props {
  caseStudy: SanityDocument
}

const { caseStudy } = Astro.props
---

<article class="lsa lsa-slide-up">
  <a
    href={`/case-studies/${caseStudy.slug.current}`}
    class="flex flex-col gap-8 group overflow-hidden"
  >
    <SanityImage
      image={caseStudy.mainImage}
      alt={caseStudy.mainImage.alt}
      class="aspect-video mb-4 brightness-90 group-hover:brightness-100 group-hover:scale-102 group-focus-visible:scale-102 transition-all duration-(--transition) ease-linear"
    />
    <div class="flex flex-col gap-8 py-4 md:py-8">
      <div class="flex flex-wrap gap-3">
        {
          caseStudy.services.map((service: string) => (
            <Pill
              text={`${service}`}
              size="small"
              class:list={[
                { 'bg-purple': service === 'Web Design & Development' },
                { 'bg-orange': service === 'Digital Strategy' },
                { 'bg-green': service === 'UX/UI' },
              ]}
            />
          ))
        }
      </div>
      <h3>{caseStudy.title}</h3>
      <p class="text-base text-lightGrey">
        {createEllipsisText(caseStudy.description, 100)}
      </p>
      <Link text="Read More" url={`/case-studies/${caseStudy.slug.current}`} linkClass="self-end" />
    </div>
  </a>
</article>
