---
import { Icon } from 'astro-icon/components'

export interface Props {
  title: string
  subtitle: string
  bodyText?: string
  linkText?: string
  linkUrl?: string
}

const { title, subtitle, bodyText, linkText, linkUrl } = Astro.props
---

<header
  class="max-w-2xl flex flex-col justify-center items-center gap-4 pt-[calc(4rem+var(--nav-height))] mb-24 text-center lsa no-repeat"
>
  <h1 class="text-purple text-base md:text-lg leading-none">{title}</h1>
  <p class="font-body text-5xl md:text-6xl leading-tight lg:leading-tight">{subtitle}</p>
  {bodyText && <p class="site-text mb-4">{bodyText}</p>}
  {
    linkText && linkUrl && (
      <a
        class="site-button inline-flex items-center justify-center gap-2 w-fit site-text"
        href={linkUrl}
        aria-label={linkText}
      >
        <Icon name="tabler:arrow-narrow-left" class="site-icon" />
        {linkText}
      </a>
    )
  }
</header>
