---
import Link from '../text/Link.tsx'

export interface Props {
  title: string
  subtitle: string
  bodyText?: string
  linkText?: string
  linkUrl?: string
}

const { title, subtitle, bodyText, linkText, linkUrl } = Astro.props
---

<header
  class="max-w-2xl mb-16 md:mb-24 pt-[calc(4rem+var(--nav-height))] flex flex-col justify-center items-center gap-4 text-center lsa"
>
  <h1 class="text-purple text-base md:text-lg">{title}</h1>
  <p class="font-header h1">{subtitle}</p>
  {bodyText && <p class="max-w-xl mb-4 text-lightGrey">{bodyText}</p>}
  {linkText && linkUrl && <Link text={linkText} url={linkUrl} arrowLeft={true} />}
  <slot />
</header>
