---
import type { SanityAsset } from '@sanity/image-url/lib/types/types'
import DateAndReadTime from '../text/DateAndReadTime.astro'
import SanityImage from './SanityImage.astro'

export interface Props {
  title: string
  published: string
  minutesRead: number
  image: SanityAsset
  imageAlt: string
}

const { title, published, minutesRead, image, imageAlt } = Astro.props
---

<header
  class="flex flex-col gap-4 w-full max-w-4xl justify-center pt-[calc(4rem+var(--nav-height))] pb-8 px-0 text-center border-b-[1px] border-dashed border-grey lsa no-repeat"
>
  <DateAndReadTime class="justify-center" published={published} minutesRead={minutesRead} />
  <h1 class="leading-tight lg:leading-tight">{title}</h1>
  <SanityImage image={image} alt={imageAlt} class="h-[clamp(250px,50vw,500px)]" />
</header>
